body{
    overflow: hidden;
}
.map-client a[href^="http://maps.google.com/maps"]{display:none !important}
.map-client a[href^="https://maps.google.com/maps"]{display:none !important}

.map-client .gmnoprint a, .gmnoprint span, .gm-style-cc {
    display:none;
}
.map-client .gmnoprint div {
    background:none !important;
}
.map-client{
    float: left;
    height: 100%;
    background-color: #eee;
    width: 100%;
    transition: 0.4s;
}
.map-client.in-trip{
    height: calc(100% - 30vw);
}
.map-client.active{
    height: calc(100% - 60vw);
    transition: 0.65s;
}
.footer-container-trip{
    position: absolute;
    bottom: -100%;
    z-index: 1;
    background-color: #ffff;
    width: 100%;
    box-shadow: 0 0 10px #ccc;
    transition: 0.5s;
}
.footer-container-trip.active{
    bottom: 0;
    height: 60vw;
    transition: 0.5s;
}
.footer-container-trip > p{
    font-size: 6vw;
    text-align: center;
    color: #afacac;
    margin-bottom: 1vw;
}
.footer-container-trip > label{
    text-align: center;
    width: 100%;
    float: left;
    margin: 2vw 0 0;
    text-transform: uppercase;
    font-size: 4vw;
}
.footer-container-trip > .type-cars{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.footer-container-trip > .type-cars > div{
    padding: 2vw;
    width: 18vw;
    height: 18vw;
    border-radius: 100%;
    opacity: 0.5;
    /* border: 1px solid #f0aa3b; */
    /* margin-top: 2vw; */
    margin-bottom: 2vw;
}
.footer-container-trip > .type-cars > div.trip-type.active{
    opacity: 1;
}
.footer-container-trip > .type-cars > div.trip-type.active > p{
    color: #e9991a;
}
.footer-container-trip > .type-cars > div > img{
    display: block;
    width: 100%;
    margin: auto;
}
.footer-container-trip > .type-cars > div > p {
    text-align: center;
    font-size: 6.5vw;
    color: #ccc;
}
.footer-container-trip > .type-cars > div > p > span{
    font-size: 3vw;
    margin-right: 0.5vw;
    position: relative;
}
.footer-container-trip > .payment-trip{
    float: left;
    width: 100%;
    display: flex;
    justify-content: left;
    padding: 1vw 5vw;
    margin-top: 5vw;
    border-top: 1px solid #ccc;
}
.footer-container-trip > .payment-trip > p{
    margin-top: 2.5vw;
    margin-left: 2vw;
}
.footer-container-trip > .payment-trip > i{
    position: relative;
    top: 3vw;
    left: 3vw;
}
.footer-container-trip > .btn-search-trip{
    border: none;
    padding: 3vw;
    font-size: 5vw;
    width: 100%;
    display: block;
    background-color: #e9991a;
    color: #fff;
    position: absolute;
    float: left;
    height: 12vw;
    bottom: 0;
}
#preload-return{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}

#preload-return > img{
    width: 50%;
}
.popup-bubble-content{
    width: 20vw;
    top: 0;
    position: absolute;
    z-index: 10;
    background: #fff;
    /* padding: 5.5vw; */
    display: flex;
    justify-content: left;
    align-items: center;
}
.popup-bubble-content{
    text-align: center;
    float: left;
    height: 50%;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 35vw;
    padding: 5.5vw 2vw;
    color: #fff;
    font-weight: bolder;
    display: flex;
    justify-content: left;
    align-items: center;
}
.popup-bubble-content > span{
    background-color: #000;
    position: absolute;
    height: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 2vw;
    text-transform: uppercase;
}
.popup-bubble-content > span.time{
    font-size: 4vw;
}
.popup-bubble-content > span >  span.minute{
    font-size: 2.5vw;
}
.popup-bubble-content > div.local{
    color: #000;
    position: absolute;
    width: 25vw;
    left: 10vw;
    text-align: left;
    padding-left: 2vw;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-line;
    line-height: 1.5em;
    height: 3em;
    font-size: 3vw;
}
.container-origin.popup-bubble-content > div.local{
    left: 0;
    width: 35vw;
}
.footer-payment-form{
    background-color: #fff;
    position: absolute;
    float: left;
    width: 100%;
    z-index: 100;
    height: 60vw;
    bottom: -100vw;
    transition: 0.5s;
}
.footer-payment-form.active {
    bottom: 0;
    transition: 0.5s;
}
.footer-payment-form > p{
    float: left;
    width: 100%;
    color: #4d4949;
    font-weight: 600;
    padding: 2vw;
    font-size: 5vw;
}
.footer-payment-form > .list-payment-forms{
    padding: 1vw 5vw;
    list-style: none;
    float: left;
    width: calc(100% - 10vw);
}
.footer-payment-form > .list-payment-forms > li{
    float: left;
    width: 100%;
    margin: 2vw 0;
    font-size: 5vw;
    display: flex;
    color: #686666;
    justify-content: left;
    align-items: center;
}
.footer-payment-form > .list-payment-forms > li.payment-form-trip.active{
    background-color: #f9dcab;
}
.footer-payment-form > .list-payment-forms > li > i,
.footer-payment-form > .list-payment-forms > li > p{
    float: left;
    padding: 0 1vw;
    margin: 1vw 0;
}
.footer-payment-form > .title-footer{
    float: left;
    width: calc(100% - 10vw);
    background-color: #f9a10a;
    padding: 3vw 5vw;
    font-weight: 600;
    color: #Fff;
    font-size: 6vw;
    margin-bottom: 1vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-payment-form > .add-payment-form{
    padding: 1vw 5vw;
    margin-top: 1vw;
    color: #6f97d5;
    font-weight: 600;
}
div.pac-container{
    position: fixed !important;
    top: 44vw !important;
    width: 100% !important;
    left: 0 !important;
    right: 0;
    height: calc(100% - 44vw);
    overflow-y: auto;
}

div.pac-container > .pac-item{
    padding: 2vw 2vw;
    width:calc(100% - 4vw);
    position: relative;
}
div.pac-container > .pac-item > .pac-item-query{
    float:left;
    width:90%;
    font-size: 4.5vw;
}
div.pac-container > .pac-item > .pac-icon.pac-icon-marker{
    float: left;
    background-image: url(../../img/icon/point-map-search.png);
    width: 10%;
    left: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0;
    align-items: center;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;

    top: 0;
}
div.pac-container > .pac-item > span{
    float:left;
    width:90%;
    position: relative;
    left: 10%;
    font-size: 4vw;
}
.pac-container.hdpi.pac-logo:after{
    display:none;
}
.footer-container-trip .material-icons.infoReturn#infoReturn{
    position: absolute;
    right: 0;
    padding: 1vw;
    margin-right: 2vw;
}