.modal-trip-history {
    background: rgba(0,0,0,0.6);
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-trip-history.hide-element {
    display: none;
}

.modal-trip-history .content-modal {
    position: relative;
    height: 25vw;
    width: 30vw;
    background: #fff;
    border-radius: 1vw;
    box-shadow: 1px 1px 4px rgba(0,0,0,0.2);
}

.modal-trip-history .content-modal .access-trip {
    position: absolute;
    right: 4px;
    top: 10px;
    width: 30px;
    height: auto;
    cursor: pointer;
}

.modal-trip-history .content-modal .access-trip img {
    width: 22px;
    height: auto;
}

.modal-trip-history .content-modal .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.modal-trip-history .content-modal .driver-name,
.modal-trip-history .content-modal .passenger-name,
.modal-trip-history .content-modal .content-date-trip,
.modal-trip-history .content-modal .content-date-start-trip,
.modal-trip-history .content-modal .content-departure,
.modal-trip-history .content-modal .content-arrival ,
.modal-trip-history .content-modal .trip-value {
    display: flex;
    align-items: center;
    height: 2.8vw;
}

.modal-trip-history .content-modal .driver-name img,
.modal-trip-history .content-modal .passenger-name img,
.modal-trip-history .content-modal .content-date-start-trip img,
.modal-trip-history .content-modal .content-date-trip img,
.modal-trip-history .content-modal .content-departure img,
.modal-trip-history .content-modal .content-arrival img,
.modal-trip-history .content-modal .trip-value img
{
    width: 19px;
    height: auto;
    margin: 0 10px;
}

.modal-trip-history .content-modal .content-departure img:after {
    border-left: 0.2px solid #aaa;
    height: 23.5px;
    content: "";
    position: absolute;
    left: -0.6vw;
    top: 12px;
    width: 1px;
}

.modal-trip-history .content-modal .title-trip-item {
    display: flex;
    flex-direction: column;
}

.trip-status {
    margin: 0 10px;
}