body{
    background-color: #f7efef;
}
.row.fontMontserrat.geralHostel .col.s12.fz-7.alignCenter.divFantasyName{
    position: absolute;
    z-index: 99;
    margin-top: 3vw;
    text-shadow: 1px 3px 3px  gray;
}
.navDefault{
    margin-bottom: 4vw;
    box-shadow: 1px 1px 20px 0px rgba(0,0,0,0.26);
    background-color: white;
}
.navDefault .menu-close#optionMenu span{
    background-color: black;
}
.navDefault .divLogo img{
    width: 15vw;
    padding: 1vw;
}
.ft-5{
    font-size: 5vw;
}
.underLine{
    text-decoration: underline;
}
.imgResponsive{
    width: 100%;
}
.rightStar{
    right: 0;
    position: absolute;
    margin-right: 3vw;
}
.row.fontMontserrat.colorGray .col.s4.imgResponsive{
    margin-top: 2vw;
}
.aboutHostel{
    margin-top: 1vw;
}
.navDefault .divider{
    width: 80%;
}
.padding3{
    padding: 3vw;
}
.material-icons.iconStar {
    color: #FFAD2A;
}
.fontMontserrat{
    font-family: "Montserrat";
}
.fontLato{
    font-family: "LATO";
}
.colorGray{
    color: #414C57;
}
.montMontserrat.colorGray  .underLine.colorGray a.colorGray{
    color: gray;
}
.fw-8{
    font-weight: 800;
}
.alignCenter{
    text-align: center;
}
.fz-7{
    font-size: 7vw;
}
.colorWhite {
    color: white;
}
.btnCall {
    width: 100%;
    margin-top: 2vw;
}
.btnGreen {
    background-color: #00CD5E;
}
.btnGreen:active{
    background-color: #00CD5E;
}
.btnYellow {
    background-color: #FF9A22;
}
.btnYellow:active{
    background-color: #FF9A22;
}
.row.fontMontserrat .carousel.carousel-slider a.carousel-item{
    padding: 2.5vw;
}
.row.fontMontserrat.geralHostel .carousel{
    overflow: initial;
}
.geralHostel .col.s12.alignCenter a.colorWhite button.btn.btnCall.btnGreen  i.material-icons{
    position: absolute;
    left: 0;
    margin-left: 9.5vw;
    font-size: 6vw;
}
.geralHostel .col.s12.alignCenter button.btn.btnCall.btnGreen .iconWhats{
    width: 6vw;
    position: absolute;
    left: 0;
    margin-left: 56vw;
    margin-top: 1.5vw;
}
.geralHostel .col.s12.alignCenter button.btn.btnCall.btnYellow .iconHostel{
    width: 6.5vw;
    position: absolute;
    left: 0;
    margin-left: 10vw;
    margin-top: 1.5vw;
}
.padding3 .row.fontMontserrat.colorGray .col.s4 .imgResponsive.listImage{
    margin-top: 3vw;
}
.fw-1{
    font-weight: 100;
}
.mL-2{
    margin-left: 2vw;
}
.-mt-1{
    position: absolute;
    margin-top: -1vw;
}
.material-icons.medium.passRight{
    z-index: 99;
    color: white;
    position: absolute;
    right: 0;
    margin-top: 25vw;
}
.material-icons.medium.passLeft{
    color: white;
    z-index: 99;
    position: absolute;
    left: 0;
    margin-top:  25vw;
}
.mt-20{
    margin-top: -28vw;
}
.box {
    font-family: "Dosis";
    margin-top: 10vw;
	position: relative;
	width: 90%;
	height: 29vw;
	background: white;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: block;
	margin: 0 auto 6px;
}
.box:before, 
.box:after {
	z-index: -1;
	position: absolute;
	content: "";
	bottom: 15px;
	left: 10px;
	width: 50%;
	top: 19%;
	max-width: 300px;
	background: rgba(0, 0, 0, 0.7);
 
	-webkit-box-shadow: 0 15px 10px rgba(0,0,0, 0.7);
	   -moz-box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
	        box-shadow: 0 15px 10px rgba(0, 0, 0, 0.7);
 
	-webkit-transform: rotate(-3deg);
	   -moz-transform: rotate(-3deg);
	     -o-transform: rotate(-3deg);
}
.box:after {
	-webkit-transform: rotate(3deg);
	   -moz-transform: rotate(3deg);
	     -o-transform: rotate(3deg);
	right: 10px;
	left: auto;
}
.col.s12 .box{
    margin-top: 3vw;
    background: rgba(255,175,1);
}
.col.s12.box #valueDiscount{
    color: rgb(93, 25, 158);
    font-weight: bold;
    font-size: 13vw;
}
.col.s12.box .col.s4.divDiscount{
    margin-top: 5vw;
    margin-left: -6vw;
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
}

.col.s12.box .linhaVertical {
    border:         none;
    border-left:    1px dashed;
    height:         29vw;
    width:          1px;     
}
.col.s12.box .titleCard{
    color: white;
    font-size: 4.5vw;
    margin-left: -11vw;
}
.col.s12.box .col.s8 .mt-20 .bodyText{
    text-align: left;
    font-size: 3.5vw;
    line-height: 111%;
    float: left;
    margin-left: 4vw;
}
.col.s12.box .col.s8 .mt-20 #idDiscount{
    float: left;
    margin-left: 19vw;
    font-size: 5vw;
    color: white;
    font-weight: bold;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.5);
    margin-top: 0.7vw;
}
.row.fontMontserrat.geralHostel .col.s12.alignCenter #boxDiscount{
    display: none;
}
.row.fontMontserrat.geralHostel .col.s12.alignCenter #borderRed{
    border: solid 1px red;
    border-radius: 40vw;
    width: 41vw;
    height: 41vw;
    margin-left: 26.7vw;
    margin-top: 2.2vw;
    position: absolute;
}
.row.fontMontserrat.geralHostel .col.s12.alignCenter #gerarDesconto{
    display: block;
    margin-left: 30vw;
    width: 35vw;
    height: 35vw;
    border: solid 1px transparent;
    border-radius: 23vw;
    margin-top: 5vw;
    background-color: rgba(255 ,102 , 0);
    color: white;
}
.row.fontMontserrat.geralHostel .col.s12.alignCenter #gerarDesconto a{
    color: white;
    text-align: center;
    float: left;
    margin: 3vw;
    font-size: 1.8vw;
    margin-top: 5vw;
}
.row.fontMontserrat.geralHostel .col.s12.alignCenter #gerarDesconto a .divValueDiscount{
    margin-left: -2vw;
    margin-top: -1vw;
}
.row.fontMontserrat.geralHostel .col.s12.alignCenter #gerarDesconto a .divValueDiscount .valueDiscount{
    font-size: 15vw;
}

.row.fontMontserrat.geralHostel .col.s12.alignCenter #gerarDesconto a .divValueDiscount .mtTypeDiscount{
    margin-top: 10vw;
    float: left;
    font-size: 4vw;
}

.row.fontMontserrat.geralHostel .col.s12.alignCenter #gerarDesconto a .footer{
    margin-top: 1vw;
    float: left;
    margin-left: 4.3vw;
}

.row.fontMontserrat.geralHostel .col.s12.alignCenter .col.s12.btn{
    line-height: 1.3;
}