.wrapper-filter-trip-modal {
    z-index: 9999;
    background: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper-filter-trip-modal .filter-modal-content {
    background: #fff;
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    justify-content: center;
    padding: 20px;
    position: relative;
    top: -4.5vw;
    border: 1px solid rgba(0,0,0,0.4);
    box-shadow: 1px 1px 10px rgba(0,0,0,0.3);
    /*box-shadow: 1px 1px 4px rgba(0,0,0,0.3);*/
}

.wrapper-filter-trip-modal .filter-modal-content .close-filter-modal {
    width: 20px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.wrapper-filter-trip-modal .filter-modal-content .actions-modal-filter {
    height: 43px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.wrapper-filter-trip-modal .filter-modal-content .actions-modal-filter a {
    height: 43px;
    width: 93px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper-filter-trip-modal .filter-modal-content .actions-modal-filter a.filter-trip-action-clean {
    background: #00acc1;
    color: #fff;
    margin-right: 4px;
}

.wrapper-filter-trip-modal .filter-modal-content .actions-modal-filter a.filter-trip-action-filter {
    background: #ff9b00;
    color: #fff;
}

.hide-modal {
    display: none;
}

.show-modal {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
}

@media(max-width: 992px) {
    .wrapper-filter-trip-modal .filter-modal-content {
        top: -11.5vw;
    }
}

@media (max-width: 600px) {
    .wrapper-filter-trip-modal .filter-modal-content .actions-modal-filter a {
        height: 22px;
        width: 91px;
    }
}