.title-offline{
    float: left;
    margin: 2vw auto 4vw;
    text-align:  center;
    width:  100%;
}

.image-offline{
    width:50%;
    display:block;
    margin: 10vw auto 20vw;
}

.try-offline{
    text-align:center;
    width: 80%;
    margin:  auto;
    background-color: #ffad2b;
    border-radius:  1vw;
    font-size: 7vw;
    display:  block;
    color: #fff;
    text-transform:  uppercase;
    font-weight: bolder;
    padding:  5vw;
}


@media (min-width: 992px) {

    .image-offline{
        width:30%;
        display:block;
        margin: 10vw auto 5vw;
    }

    .try-offline{
        text-align:center;
        width: 20%;
        margin:  auto;
        background-color: #ffad2b;
        border-radius:  1vw;
        font-size: 1vw;
        display:  block;
        color: #fff;
        text-transform:  uppercase;
        font-weight: bolder;
        padding:  1vw;
    }

}