.generalPerfil{
    padding: 2vw;
}
.generalPerfil .divInputs{
    margin-top: 2vw;
    cursor: pointer;
}
.generalPerfil .divInputs input{
    height: 2.5vw;
}
.generalPerfil .editProfile{
    cursor: pointer;
    background-color: #FF9B00;
    border-radius: 10vw;
    width: 2.5vw;
    height: 2.5vw;
}
.generalPerfil .editProfile i{
    color: white;
    position: relative;
    left: 0.4vw;
    top: 0.3vw;
}
input:not([type]):disabled, input:not([type])[readonly="readonly"], input[type=text]:not(.browser-default):disabled, input[type=text]:not(.browser-default)[readonly="readonly"], input[type=password]:not(.browser-default):disabled, input[type=password]:not(.browser-default)[readonly="readonly"], input[type=email]:not(.browser-default):disabled, input[type=email]:not(.browser-default)[readonly="readonly"], input[type=url]:not(.browser-default):disabled, input[type=url]:not(.browser-default)[readonly="readonly"], input[type=time]:not(.browser-default):disabled, input[type=time]:not(.browser-default)[readonly="readonly"], input[type=date]:not(.browser-default):disabled, input[type=date]:not(.browser-default)[readonly="readonly"], input[type=datetime]:not(.browser-default):disabled, input[type=datetime]:not(.browser-default)[readonly="readonly"], input[type=datetime-local]:not(.browser-default):disabled, input[type=datetime-local]:not(.browser-default)[readonly="readonly"], input[type=tel]:not(.browser-default):disabled, input[type=tel]:not(.browser-default)[readonly="readonly"], input[type=number]:not(.browser-default):disabled, input[type=number]:not(.browser-default)[readonly="readonly"], input[type=search]:not(.browser-default):disabled, input[type=search]:not(.browser-default)[readonly="readonly"], textarea.materialize-textarea:disabled, textarea.materialize-textarea[readonly="readonly"] {
    color: black;
    border-bottom: 1px solid transparent;
    border-radius: 1.1vw;
    background-color: #ededed;
    color: black;
    padding: 0.5vw;
}
#btnSave{
    display: none;
}
.btnYellow{
    margin-left: 45vw;
    background-color: #FF9B00;
}
.btnYellow:hover{
    background-color: #FF9B00;
}
.editImage{
    cursor: pointer;
    position: relative;
    color: white;
    top: 0.7vw;
    left: 0.6vw;
    color: white;
}
.editProfileImage{
    position: relative;
    top: -3vw;
    left: -2vw;
    background-color: #FF9B00;
    border-radius: 7vw;
    width: 3vw;
    height: 3vw;
}
#editProfileImage{
    display: none;
}

/*MOBILE*/
@media only screen and (max-width: 600px){

    #imagePerfil{
        width: 50vw;
        margin-left: 22vw;
    }

    .generalPerfil .divInputs input{
        height: auto;
    }

    .generalPerfil .editProfile {
        cursor: pointer;
        background-color: #FF9B00;
        border-radius: 10vw;
        width: 7vw;
        height: 7vw;
        top: 3vw;
    }

    .editProfileImage {
        position: relative;
        top: 42vw;
        left: -16vw;
        background-color: #FF9B00;
        border-radius: 7vw;
        width: 8vw;
        height: 8vw
    }

    .btnYellow{
        margin-left: 34vw;
        background-color: #FF9B00;
    }

}
