.row.generalStatistic{
    margin-top: 3vw;

}
.row.generalStatistic .col.l12 .divLogo.col.s4 img.image{
    margin-top: 3vw;
}
.titlePage{
    font-size: 4vw;
}
.firstLi{
    text-decoration: underline;
    font-size: 1.5vw;
}
.row.generalStatistic .col.l12 .col.l8.bodyPage{
    margin-top: 3vw;
    background-color: #ff9b00;
    color: white;
    padding-left: 7vw;
    padding-bottom: 1vw;
    padding-top: 1vw;
    border-radius: 10vw 0vw 0vw 10vw;
}