<div class="row generalForgetPassword">

    <div id="passCheckEmail">
        <span>Digite seu email: </span>
        <input  type="email" placeholder="Email" id="email">
        <button id="checkEmail" class="btn">Enviar</button>
    </div>

    <div id="secondPass">
        <input class="readCode" id="code0" type="number">
        <input class="readCode" id="code1" type="number">
        <input class="readCode" id="code2" type="number">
        <input class="readCode" id="code3" type="number">
        <button id="checkCode" class="btn col s12">ENVIAR</button>
    </div>

    <div id="thirdPass">
        <input placeholder="Senha"  id="passwordOne">
        <input placeholder="Senha*" id="passwordTwo">
        <button id="savePassword" class="btn col s12">Salvar</button>
    </div>

</div>