<div class="container-login">
    <div>
        <img src="webfiles/img/logo/return_client.png"
             class="logo-company">
        <form class="form-login">
            <div>
                <i class="material-icons">person</i>
                <input class="col s12" type="email" id="email" placeholder="EMAIL">
            </div>
            <div>
                <i class="material-icons">vpn_key</i>
                <input type="password" id="password" class="validate" placeholder="SENHA">
            </div>
            <a href="index.html?Main&ForgetPassword">Esqueceu a senha?</a>
            <button type="button" class="authenticate-user">ENTRAR</button>
        </form>
        <div class="sign-up">
            <a href="index.html?Main&Signup">Cadastre-se</a>
            <span>
                OU
            </span>
            <div class="social-list">
                <img onclick="signFacebook()"class="" src="webfiles/img/icon/iconFace.png">
                <div  class="g-signin2" data-onsuccess="signGoogle" data-theme="dark"></div>
            </div>
        </div>
    </div>
</div>
