<div class="generalChat">

    <a  class="go-back">
        <i class="material-icons" id="backToIndex">keyboard_arrow_left</i>
    </a>
    <br>

    <div class="center">
        <img class="logo" src="webfiles/img/logo/LogoReturn_Branca_PNG.png">
    </div>

    <span class="center colorWhite Montserrat">Fale conosco</span>

    <div class="center">
        <div id="sending"></div>
        <textarea placeholder="Digite seu comentário e/ou dúvida" id="textClient"></textarea>
    </div>

    <div class="center">
        <div id="buttonSend">Enviar</div>
    </div>

    <div id="buttonKeyboard">
        Enviar
    </div>

</div>