<div class="info-chat-trip">
    <a class="back-page">
        <i class="backIcon material-icons">arrow_back</i>
    </a>
    <h4 class="name-establishment-chat"></h4>
    <div class="divider"></div>
</div>
<div class="container-chat-trip" id="container-chat-trip">
    <div class="info-client" id="infoClient">
        <div class="margin-default-chat">
            <div class="continer-messages" id="continer-messages">
                <ul id="messagesDriver">

                </ul>
            </div>
        </div>
    </div>
</div>
<div class="contentDataSend">
    <input id="messageTripDriver" class="materialize-textarea message-trip-driver">
    <button type="button" class="btn-send-message">
        <img src="webfiles/img/icon/send_icon.png">
    </button>
</div>