<div class="generalProfile">
    <div class="divImageUser">
        <i class="material-icons" id="editPhotoUserProfile">edit</i>
        <img id="imageUserProfile" src="webfiles/img/icon/profile.png">
    </div>
    <div class="midGeneral">
        <div class="name">
            <span><b>Nome</b></span>
            <br>
            <input id="nameProfileUser">
        </div>

        <div class="email">
            <span><b>Email</b></span>
            <br>
            <input id="emailProfileUser"  type="email">
        </div>

        <div class="telefone">
            <span><b>Telefone</b></span>
            <br>
            <input id="phoneProfileUser" type="phone">
        </div>

        <div class="senha">
            <span><b>Senha</b></span>
            <br>
            <input id="passProfileUser" placeholder="*****" type="password">
        </div>

        <div class="center">
            <div id="btnSave">Salvar</div>
        </div>

    </div>
    <div id="btnFooter">Salvar</div>
</div>