body{
    background-color: #FEA000;
}
#secondPass{
    display: none;
}
#thirdPass{
    display: none;
}
.row.generalForgetPassword{
    background-color: white;
    width: 80%;
    margin-top: 20%;
    padding: 2vw;
    border-radius: 1vw;
}
.row.generalForgetPassword #secondPass input{
    width: 20%;
    border: solid 1px;
    padding: 1vw;
    margin-left: 0.5%
}
.row.generalForgetPassword #passCheckEmail button.btn{
    margin-left: 30%;
    background-color: #FFCF00;
}
.readCode{
    text-align: center;
}