<div class="wrapper-mobile">

    <header id="header-steps">
        <div class="content-icon">
            <a class="go-back"><img src="webfiles/img/icon/left-arrow.png" alt="Voltar"></a>
        </div>
        <div id="title-header-steps">Cadastro</div>
    </header>


    <div class="wrapper-form">
        <div class="container-form add-employees">
            <form>
                <input type="text" placeholder="Nome Completo" name="name-user" id="name-user">
                <div class="half-input">
                    <input type="tel" placeholder="CPF" id="cpf-user" name="cpf-user">
                    <input type="tel" placeholder="Celular" id="phone-user" name="phone-user" class="mask-telefone">
                </div>
                <input type="email" placeholder="Email" id="email-user" name="email-user">
                <input type="password" placeholder="Senha" id="password-user" name="password-user">
                <input type="password" placeholder="Confirme a senha" id="confirm-password-user" name="confirm-password-user">
            </form>
        </div>
    </div>
    <a id="btn-user-info" class="btn-add-establishment">SALVAR</a>
</div>
