<div class="preloader-search-trip">
    <div>
        <img class="setas-return" src="webfiles/img/icon/setas-return.png">
        <img class="car-return" src="webfiles/img/logo/return-1-d.png">
    </div>
    <p>Chamando seu transporte</p>
    <h3 class="time-search-trip">00:00</h3>
    <i class="fa fa-times-circle cancel-search-trip"></i>
</div>
<div class="trip-client">
    <div class="info-trip">
        <p>Alguma informação sobre o ponto seu embarque ou compartilhar sua viagem?</p>
        <a>Editar</a>
    </div>
    <div class="option-trip">
        <i class="material-icons">
            more_vert
        </i>
        <ul>
            <li id="cancelTrip">
              <!--  <i class="material-icons">
                    close
                </i>-->
                <img src="webfiles/img/icon/icon_cancelar_corrida.png">
            </li>
            <li id="zoomInRoute">
                <i class="material-icons">
                    zoom_out_map
                </i>
            </li>
            <li>
                <i class="material-icons">
                    share
                </i>
            </li>
        </ul>
    </div>
    <footer>
        <div class="description-title">Fazemos mais, melhor e mais barato.</div>
        <div class="data-trip">
            <div>
                <img src="" class="image-profile-driver">
                <div>
                    <b id="nameDriver" class="name-driver-trip"></b>
                    <p>Motorista</p>
                </div>
                <div>
                    <b id="carPlateDriver" class="car-plate-driver"></b>
                    <p id="carBrandDriver" class="car-brand-driver"></p>
                </div>
            </div>
            <div>
                <i class="fa fa-phone phone-client"></i>
                <i class="fa fa-comments chat-client"></i>
            </div>
        </div>
    </footer>
</div>
<div class="footer-container-trip">
    <label>Valor fixo</label>
    <i class="material-icons infoReturn" id="infoReturn" onclick="showOptionsReturn()">info_outline</i>
    <div class="type-cars">
    </div>
    <div class="payment-trip">
        <img src="webfiles/img/icon/money.png">
        <p id="namePaymentForm">Pagamento</p>
        <i class="fa fa-angle-down"></i>
    </div>
    <button type="button" class="btn-search-trip">CONFIRMAR RETURN</button>
</div>
<div class="footer-payment-form">
    <div class="title-footer">
        <p>Opções de pagamento</p>
        <i class="fa fa-times close-payment-form"></i>
    </div>
    <p>Forma de pagamento</p>
    <ul class="list-payment-forms">
        <!--  <li>
              <i class="fa fa-credit-card"></i>
              <p>Cartão</p>
          </li>
          <li>
              <i class="fa fa-money" aria-hidden="true"></i>
              <p>Dinheiro</p>
          </li>-->
    </ul>
    <a class="add-payment-form">Adicionar forma de pagamento</a>
</div>
